body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #FFB366;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
}

.imagen {
    
    height: 400px;
    width: 400px;
    
}

.cuadro-texto {
    height: 400px;
    width: 500px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #FFB366;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 1s ease-in-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#centro{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.texto-destacado{
    font-size: 20px;
}

.btn-cuestionario {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-cuestionario:hover {
    background-color: #3CEE83; 
    color: black; 
}
.logo{
    height: 50px;
    width: 50px;
}

.botonheader{
    height: 40px;
    width: 120px;
    text-align: center;
    margin-right: 10px;
    border-radius: 15px;
    background: linear-gradient(to bottom,#3CEE83,white);
    border: 0px;
    cursor: pointer;
}

.logo-container{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.botones-header{
    display: flex;
    align-items: center;
}

.container .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}

.container .input{
    border: 0;
    outline: none;
    color: #8b7d77;
}

.search_wrap{
    width: 150px;
    margin: 38px auto;
}

.search_wrap .search_box{
    position: relative;
    width: 100%; 
    height: 40px;
    background-color: #D3D3D3;
    border-radius: 50px;
    display: flex; 
}

.search_wrap .search_box .input{
    flex: 1; 
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
    color: black;
    background-color: #D3D3D3;
}

.search_wrap .search_box .btn {
    width: 60px;
    height: 100%;
    background-color: #D3D3D3;
    color: black;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.search_wrap .search_box .btn:hover{
    background: #708bd2;    
}

.search_wrap .search_box .btn.btn_common .fas{
    position: absolute;
    top: 50%;
    left: 240px;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn{
    margin-left:10px; 
}

.botonheader2{
    height: 40px;
    width: 120px;
    text-align: center;
    margin-right: 10px;
    border-radius: 15px;
    background: linear-gradient(to bottom,#3CEE83,white);
    border: 0px;
    cursor: pointer;
    margin-left: 140px;
}

.botones-header2{
    display: flex;
    align-items: center;
}

.botonheader3{
    height: 40px;
    width: 120px;
    text-align: center;
    margin-right: 10px;
    border-radius: 15px;
    border: 0px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.botones-header button,
.botonheader2 {
    height: 40px;
    width: 120px;
    text-align: center;
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(to bottom, #3CEE83, white);
    border: 0px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.botones-header button:hover,
.botonheader2:hover,
.botonheader3:hover {
    background: #3CEE83;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
    background: linear-gradient(to bottom,#ADD8E6,white);
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
}


.footer-section {
    max-width: 200px;
}

.footer-section h3 {
    border-bottom: 1px solid black;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease-in-out;
}

.footer-section a:hover {
    color: #3CEE83;
}
